/* FONTS */

@font-face {
    font-family: "poppins_m";
    src: url(../font/Poppins-Medium.ttf);
}

@font-face {
    font-family: "poppins_r";
    src: url(../font/Poppins-Regular.ttf);
}

@font-face {
    font-family: "poppins_sb";
    src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "poppins_b";
    src: url(../font/Poppins-Bold.ttf);
}

*{
    font-family: poppins_r, sans-serif;
}

/* GENERAL */

html, body{
    margin: 0;
    padding: 0;
}

/* HEADER */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em;
}

.nav_logo > a{
    font-size: 2em;
    margin: 1em;
    color: #ffb81cff;
    text-decoration: none;
    font-family: poppins_b, sans-serif;
}

.nav_links > a{
    padding-left: 2em;
    padding-right: 2em;
    color: black;
    text-decoration: none;
    font-size: 1.4em;
}
